.header {
    width: 100%;
    height: 56px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-bottom: 1px solid #eee;
    user-select: none;
}

button {
    background-color: inherit;
    border: none;
}

.header-logo p {
    color: #3F5A72;
}

.sidebar {
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    transition: transform 0.3s ease;
  }
  
  .close-button {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 1.125rem;
  }
  
  .sidebar ul {
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    margin: 8px 0;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 0;
  }
  .sidebar ul li:hover {
    background-color: #eee;
  }

  .hide-menu {
    transform: translateX(100%);
  }
  
  .show-menu {
    transform: translateX(0);
  }