.header {
    width: 100%;
    height: 56px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-bottom: 1px solid #eee;
    user-select: none;
}

button {
    background-color: inherit;
    border: none;
}

.header-logo p {
    color: #3F5A72;
}

.sidebar {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    transition: transform 0.3s ease;
  }

.sidebar-inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px) */
@media screen and (max-width:767px) {
  .sidebar-inner {
    max-width: 900px;
  }
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px) */
@media screen and (min-width:768px) and (max-width:1023px) {
  .sidebar-inner {
    max-width: 1100px;
  }
}
/* 데스크톱 (가로 1024px 이상) */
@media screen and (min-width:1024px) {
  .sidebar-inner {
    max-width: 1280px;
  }
}
  
.close-button {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1.125rem;
  margin-top: 10px;
}

.sidebar ul {
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin: 8px 0;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 0;
}
.sidebar ul li:hover {
  background-color: #eee;
}

.hide-menu {
  transform: translateX(100%);
}

.show-menu {
  transform: translateX(0);
}