.header {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-bottom: 1px solid #eee;
}

button {
    background-color: inherit;
    border: none;
}

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-color: aquamarine;
    z-index: 999;
    display: flex;
    flex-direction: column;

    transition: transform 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .close_button {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 24px;
  }
  
  .sidebar ul {
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    margin: 8px 0;
    font-size: 18px;
    cursor: pointer;
    padding: 8px 0;
  }

  .hide_menu {
    transform: translateX(100%);
  }
  
  .show_menu {
    transform: translateX(0);
  }